#customers {
    font-family    : Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width          : 100%;
}

#customers td,
#customers th {
    border : 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top     : 12px;
    padding-bottom  : 12px;
    text-align      : left;
    background-color: #04AA6D;
    color           : white;
}

.btn-edit {
    outline   : none;
    border    : none;
    height    : 40px;
    width     : 50px;
    background: transparent;
    color     : orange;

    &:hover {
        background-color: transparent !important;
        color           : rgb(0, 0, 0);
    }
}

.btn-delete {
    outline   : none;
    border    : none;
    height    : 40px;
    width     : 50px;
    background: transparent;
    color     : red;

    &:hover {
        background-color: transparent !important;
        color           : rgb(3, 3, 3);
    }
}

.modal-user-container {
    .modal-header {
        .modal-title {
            text-align: center;
        }

        button {
            background-color: transparent;
            border          : none;
            color           : white;
            font-size       : 27px;

            span {
                color: black;
            }

        }
    }

    .modal-user-body {
        display     : flex;
        // gap      : 17px;
        column-gap  : 30px;
        flex-wrap   : wrap;


        .input-container {
            display       : flex;
            flex-direction: column;
            width         : 48%;
            height        : 75px;

            &.max-width-input {
                width: 100%;
            }

            input,
            select {
                border-radius: 3px;
                border       : 1px solid gray;
                height       : 30px;
                outline      : none;
                padding      : 0 10px;
            }

            .err-message {
                color: red;
            }

            textarea {
                padding: 0 10px;
            }

        }
    }

}