#disease-table {
    font-family    : Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width          : 100%;
    table-layout   : fixed;
}

.text-limit {
    display           : -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp        : 3;
    -webkit-box-orient: vertical;
    overflow          : hidden;
    text-overflow     : ellipsis;
    line-height       : 1.5em;
    white-space       : normal;
}

#disease-table td,
#disease-table th {
    border : 1px solid #ddd;
    padding: 8px;
}

#disease-table td {
    height : 5.3em;
}

#disease-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#disease-table tr:hover {
    background-color: #ddd;
}

#disease-table th {
    padding-top     : 12px;
    padding-bottom  : 12px;
    text-align      : left;
    background-color: #04AA6D;
    color           : white;
}

.btn-edit {
    outline   : none;
    border    : none;
    height    : 40px;
    width     : 50px;
    background: transparent;
    color     : orange;

    &:hover {
        background-color: transparent !important;
        color           : rgb(0, 0, 0);
    }
}

.btn-delete {
    outline   : none;
    border    : none;
    height    : 40px;
    width     : 50px;
    background: transparent;
    color     : red;

    &:hover {
        background-color: transparent !important;
        color           : rgb(3, 3, 3);
    }
}

.modal-disease-container {
    .modal-header {
        .modal-title {
            text-align: center;
        }

        button {
            background-color: transparent;
            border          : none;
            color           : white;
            font-size       : 27px;

            span {
                color: black;
            }

        }
    }

    .modal-disease-body {
        display     : flex;
        // gap      : 17px;
        column-gap  : 30px;
        flex-wrap   : wrap;
        overflow-y: auto;


        .input-container {
            display       : flex;
            flex-direction: column;
            width         : 48%;
            height        : 75px;
            margin-top    : 8px;

            &.max-width-input {
                width: 100%;
            }

            &.add-height {
                height: 160px;
            }

            input,
            select {
                border-radius: 3px;
                border       : 1px solid gray;
                height       : 30px;
                outline      : none;
                padding      : 0 10px;
            }

            .input-content {
                display       : flex;
                flex-direction: row;

                .lable-image {
                    width: 37%;
                }

                .preview-image {
                    border         : 1px solid;
                    background     : url("../../../../assets/no-image.jpg") center center no-repeat;
                    background-size: cover;
                    height         : 100px;
                    width          : 200px;
                    // background-size: contain;
                    cursor         : pointer;
                }

            }

            .input-image {
                margin: 10px auto;

                .lable-upload {
                    border       : 1px solid;
                    padding      : 4px;
                    border-radius: 3px;
                    background   : #ddd;
                    cursor       : pointer;
                }
            }

            .err-message {
                color: red;

                &.image {
                    width      : 230px;
                    margin-left: 10px;
                }
            }

        }
    }

}

.ReactModalPortal {
    position: relative;
    z-index : 10000;

}

.preview-image {
    border         : 1px solid;
    background     : url("../../../../assets/no-image.jpg") center center no-repeat;
    background-size: cover;
    width          : 200px;
    // background-size: contain;
    cursor         : pointer;
}