.login-backgroud {
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgb(211, 220, 29) 100%);
    height    : 100vh;

    .login-container {
        margin          : auto;
        height          : 300px;
        width           : 400px;
        background-color: white;
        position        : absolute;
        border-radius   : 10px;
        padding         : 10px;
        top             : 0;
        bottom          : 0;
        left            : 0;
        right           : 0;

        .login-content {
            padding: 5px;

            .text-login {
                text-align : center;
                font-weight: 600;
                font-size  : 25px;
                padding-top: 10px;
            }

            .login-input {
                height: 75px;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right   : 12px;
                        top     : 10px;
                        cursor  : pointer;
                    }
                }

            }
            
            .err-message{
                color: red;
            }

            .btn-login {
                margin       : 10px 0;
                width        : 100%;
                height       : 35px;
                outline      : none;
                border       : none;
                border-radius: 15px;
                background   : linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgb(211, 220, 29) 100%);
                color        : white;
                font-size    : 18px;
            }

            .register {
                color: blue;
                font-size: 12px;
                cursor: pointer;
            }
        }
    }
}